DonkoMarkSopWCF/Client/Connected Services/MusicService/MusicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MusicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/MusicService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/MusicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
      <xsd:import schemaLocation="http://localhost:8080/MusicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMusicService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Login_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q1:MyException" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Logout_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q2:MyException" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Add_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q3:MyException" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Delete_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q4:MyException" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Like_InputMessage">
    <wsdl:part name="parameters" element="tns:Like" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Like_OutputMessage">
    <wsdl:part name="parameters" element="tns:LikeResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Like_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q5:MyException" />
  </wsdl:message>
  <wsdl:message name="IMusicService_getLike_InputMessage">
    <wsdl:part name="parameters" element="tns:getLike" />
  </wsdl:message>
  <wsdl:message name="IMusicService_getLike_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLikeResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_getLike_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q6:MyException" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Dislike_InputMessage">
    <wsdl:part name="parameters" element="tns:Dislike" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Dislike_OutputMessage">
    <wsdl:part name="parameters" element="tns:DislikeResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_Dislike_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q7:MyException" />
  </wsdl:message>
  <wsdl:message name="IMusicService_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="IMusicService_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicService_List_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Service" name="detail" element="q8:MyException" />
  </wsdl:message>
  <wsdl:portType name="IMusicService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/Login" message="tns:IMusicService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/LoginResponse" message="tns:IMusicService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMusicService/LoginMyExceptionFault" name="MyExceptionFault" message="tns:IMusicService_Login_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/Logout" message="tns:IMusicService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/LogoutResponse" message="tns:IMusicService_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMusicService/LogoutMyExceptionFault" name="MyExceptionFault" message="tns:IMusicService_Logout_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/Add" message="tns:IMusicService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/AddResponse" message="tns:IMusicService_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMusicService/AddMyExceptionFault" name="MyExceptionFault" message="tns:IMusicService_Add_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/Delete" message="tns:IMusicService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/DeleteResponse" message="tns:IMusicService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMusicService/DeleteMyExceptionFault" name="MyExceptionFault" message="tns:IMusicService_Delete_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Like">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/Like" message="tns:IMusicService_Like_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/LikeResponse" message="tns:IMusicService_Like_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMusicService/LikeMyExceptionFault" name="MyExceptionFault" message="tns:IMusicService_Like_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLike">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/getLike" message="tns:IMusicService_getLike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/getLikeResponse" message="tns:IMusicService_getLike_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMusicService/getLikeMyExceptionFault" name="MyExceptionFault" message="tns:IMusicService_getLike_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dislike">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/Dislike" message="tns:IMusicService_Dislike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/DislikeResponse" message="tns:IMusicService_Dislike_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMusicService/DislikeMyExceptionFault" name="MyExceptionFault" message="tns:IMusicService_Dislike_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicService/List" message="tns:IMusicService_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicService/ListResponse" message="tns:IMusicService_List_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMusicService/ListMyExceptionFault" name="MyExceptionFault" message="tns:IMusicService_List_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMusicService" type="tns:IMusicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMusicService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IMusicService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMusicService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMusicService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Like">
      <soap:operation soapAction="http://tempuri.org/IMusicService/Like" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLike">
      <soap:operation soapAction="http://tempuri.org/IMusicService/getLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Dislike">
      <soap:operation soapAction="http://tempuri.org/IMusicService/Dislike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/IMusicService/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MusicService">
    <wsdl:port name="BasicHttpBinding_IMusicService" binding="tns:BasicHttpBinding_IMusicService">
      <soap:address location="http://localhost:8080/MusicService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>